<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Todos{% endblock %}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- css:vendor -->
  <link rel="stylesheet" href="https://sdk.ttcdn.co/tt-uikit-0.11.0.min.css">
  <style>
  .icheckbox {
    position: relative;
  }
  </style>

  <script data-main="/static/js/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
